<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-
    
    
    
    , initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- CSS only -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">
    <title>NFT-Marketplace</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body style="background-color:#282933" >
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color:white;margin-left: 130px;font-family:Google Sans, -apple-system, BlinkMacSystemFont, sans-serif">NFt<span style="color: rgb(5, 161, 5); font-family:Google Sans, -apple-system, BlinkMacSystemFont, sans-serif">Eco</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color:white;margin-left: 490px;font-family:Google Sans, -apple-system, BlinkMacSystemFont, sans-serif">Feature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:white;margin-left: 30px;font-family:Google Sans, -apple-system, BlinkMacSystemFont, sans-serif">Solution</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:white;margin-left: 30px;font-family:Google Sans, -apple-system, BlinkMacSystemFont, sans-serif">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:white;margin-left: 30px;font-family:Google Sans, -apple-system, BlinkMacSystemFont, sans-serif">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:white;margin-left: 30px;"><i class="fa fa-search" aria-hidden="true"></i></a>
                
              </li>
              <li class="nav-item">
                <a type="button" class="btn btn" style="background-color: #45b26b;margin-left: 30px;"  href="signup"><span style="color: white;font-size: 15px;"  >Sign Up</span></a>
              </li>
            </ul>
  
          </div>
        </div>
      </nav>
      <div style="width: 100%; display: flex;" class="container">
        <div  class="home_content">
          <h1>Discover the<br> latest NFTs<br> ecosystem.</h1>
          <p style="color:white;opacity: 50%;">A World Where creators can use the ethereum<br> blockchain to value their online expression <br>in entirely new ways.</p>  
          <a type="button" class="btn btn" style="background-color:#3772ff;margin-right:85%;width: 300px;height:40px;"  href="main"><span style="color:whitesmoke;font-size: 15px;"  >Explore</span></a>    
          <div style="margin-top: -20px;margin-left: -60px;">
            
          <span class="dot" ></span>
          <a class="nav-link" href="#" style="color:white;margin-top:-45px;margin-left:20px;z-index: 0;"><i class="fa fa-play" aria-hidden="true" style="opacity: 30%;"></i></a>
           <p style="margin-top: -20px;color:#fdfdfe;margin-left: 60px;">intro Video</p>
          </div>

        </div>

        <div style="width: 50%;">
          <img src="img/m-removebg-preview.png" alt="img" style="margin-left:-10px;margin-top:-40px ;"  >
        </div>
    </div>
    <div class="container1" >
      <h1 style="color: white;font-size: 70px;">Problem & Solutions</h1>
    </div>
    <div class="container2">
      <p style="color:white;opacity: 50%;">A World Where creators can use the ethereum blockchain to<br> value their online expression in entirely new ways.</p>  
    </div>


    <div class="container3" >
      <div >
        <img src="img/r-removebg-preview.png" alt="img" width="750px" height="700px" style="margin-left: -220px;"></img>
        <div class="container4"> 
          <span class="d1" ></span>
          
          <h2 style="color: white;margin-top: -250px;">The Problem</h2>
          <span class="d2" ></span>
       </div>
       <div>
        <p style="color:white;opacity: 50%;" class="p1">The Problem - This is  Where we took about<br>the current Problem briefly.</p>
        <img src="img/a.png" class="img" alt="img" width="100px" height="400px" ></img>
      </div>
      <p style="color:white;opacity: 60%;" class="p2">Advanced pinning</p>
      <p style="color:white;opacity: 60%;" class="p3">Relative positioning with containers</p>
      <p style="color:white;opacity: 60%;" class="p4">Percentage-based geometry</p>
      </div>
     
    </div>
    <a type="button" class="btn btn" style="background-color:#3772ff;transform: translateX(750px);width: 170px;height:55px;margin-top: 320px;padding-top: 13px;"  href="main"><span style="color:whitesmoke;font-size: 15px;"  >Learn more</span></a>    
    <div>
      <p style="color: grey;justify-content: center;text-align: center;margin-top: 30px;">Thousands of teams and  artist worldwide selling nfts</p>
        <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" style="color: white;margin-left: 90px;" href="#"><img src="img/pngtree-roadshow-poster-png-image_3911227-removebg-preview.png" width="50px" height="50px" style="margin-right: 10px;">RotaShow</a>
        <a class="navbar-brand" style="color: white;margin-left: 80px;" href="#"><img src="img/6.png" width="50px" height="50px" style="margin-right: 10px;">Waves</a>
        <a class="navbar-brand" style="color: white;margin-left: 80px;" href="#"><img src="img/pngtree-roadshow-poster-png-image_3911227-removebg-preview.png" width="50px" height="50px" style="margin-right: 10px;">RotaShow</a>
        <a class="navbar-brand" style="color: white;margin-left: 80px;" href="#"><img src="img/7.png" width="60px" height="60px" style="margin-right: 10px;">goldlines</a>
        <a class="navbar-brand" style="color: white;margin-left:80px;" href="#"><img src="img/8.png" width="60px" height="60px" style="margin-right: 10px;">Velocity</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        </div>
      </nav>
    </div>
    <p style="color: white;opacity:70%;justify-content:center;text-align:center;">NFT Landingpage CopyRights@2022</p>
</body>
</html>