<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- CSS only -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">
    <title>NFT-Marketplace</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body style="background-color:#262730" >
    <div class="video">
        <a  href="#" class="icon"><i class="fa fa-play" aria-hidden="true" style="opacity: 70%;width:100px;height: 500px;"></i></a>
        <h3 class="v">Watch Video</h3>
        <video width="1330" height="500" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
    </div>
    <div style="margin-top:200px;margin-left:300px;">
        <h1 style="color: white;font-size: 60px;">Features</h1>
        <p style="color: white;opacity:60%">A World Where creators can use the ethereum <br>blockchain to value their online expression in <br>entirely new ways.</p>
        <li style="color: white;opacity:50%">Enter some Text here</li>

        <li style="color: white;opacity:50%">Enter some Text here</li>

        <li style="color: white;opacity:50%">Enter some Text here</li>

        <li style="color: white;opacity:50%">Enter some Text here</li>

        <li style="color: white;opacity:50%">Enter some Text here</li>
        <a type="button" class="btn btn" style="background-color:#3772ff;transform: translateX(120px);margin-top:-190px
        ;width: 170px;height:55px;padding-top: 13px;"  href="main"><span style="color:whitesmoke;font-size: 15px;"  >Learn more</span></a>  
        <img src="img/image_processing20211115-1496-3w2o9m.png" alt="img" class="img1">
        <div class="container5">
            <p style="color: white;opacity: 70%;">User  get from  us </p>
             <hr>
            <p style="color: white;opacity: 70%;">User  get from  us </p>
            <hr>
            <p style="color: white;opacity: 70%;">User  get from  us  </p>

        </div>  
        <div class="container6">
            <h3 style="color: white;opacity: 60%;">+</h3>
            <h3 style="color: white;margin-top: 30px;opacity: 60%;">+</h3>
            <h3 style="color: white;margin-top: 30px;opacity: 60%;">+</h3>
        </div>
        <div class="container7">
            <img src="/img/3.png" width="70px"style="margin-top: -320px;margin-left:-20px">
            <img src="/img/1.png" width="70px"style="margin-top: -210px;margin-left:-78px">
            <img src="/img/2.png" width="70px"style="margin-top: -100px;margin-left:-70px">
        </div>
        

    </div>
    <div>
        <img src="img/i.png" alt="img" class="img2">

        <h4 style="color: white;margin-top: 20px;margin-left: 94px;">Learn more about NFT-Marketplace</h4>
        <p style="color: white;margin-left: 94px;">A World Where creators can use the ethereum
            blockchain<br> to value their online expression in
            entirely new ways.</p>
            <a type="button" class="btn btn" style="background-color: #51e7bf;margin-left: 90px;
            ;width: 150px;height:55px;padding-top: 13px;"  href="main"><span style="color:whitesmoke;font-size: 15px;"  >Learn more</span></a>  
            
    </div>
    <div class="c">
        <h1 class="h">EcoFetra Labs</h1>
        <p class="p">A World Where creators can use the ethereum blockchain to value<br> their online expression in entirely new ways.</p>  
        <img src="img/stock.png" width="700px" class="img3" >
        <img src="img/bitcoin.png" width="600px" class="img4" >
    </div>
</body>
</html>